*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
.wraper{
  width: 1400px;
  margin: 0 auto;
}
/* Menu */
nav {
 z-index: 1;
 height: 100px;
 position: fixed;
 padding: 20px;
 display: inline-block;
 width: 100%;
 padding-left: 50px;
 background-color: rgba(0, 0, 0, 0.6);
 color: #ffffff;
 font-family: 'Saira Condensed', sans-serif;
}
.hamburgerNav .menu {
 list-style: none;
 position: fixed;
 top: 0;
 right: 0;
 padding: 20px;
 padding-top: 100px;
 font-size: 20px;
 background-color: rgb(0, 0, 0);
}
.see {
 visibility: visible;
}
.hamburgerNav {
  position: absolute;
  top: 20px;
  right: 0;
  text-align: right;
 width: 100vh;
 height: 15vw;
}
.hamburgerNav>li {
 display: inline-block;
 margin: 10px;
}
.hamburgerNav>li>a {
text-decoration: none;
color: white;
font-size: 20px;
}
nav img {
 height: 45px;
 position: absolute;
 top: 18px;
 left: 2px;
}
nav .menu i {
 position: absolute;
 top: 30px;
 right: 30px;
}


   /* Header  */
header{
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding-top: calc(50vh - 6em);
    font: 150%/1.6 Baskerville, Palatino, serif;
}
header, main::before {
  background: url("../img/main.jpg") 0 / cover fixed;
}
header img{
  height: 20px;
}

main {
  position: relative;
  margin-top: 200px;
  left: 60%;
  padding: 1em;
  max-width: 23em;
  background: hsla(0,0%,100%,.85) border-box;
  overflow: hidden;
  border-radius: .3em;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
              0 .5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}

main::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: -30px;
  z-index: -1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
header main footer{
  text-align: right;
}

blockquote { font-style: italic }
blockquote cite { font-style: normal; }

/* sekcja team */
.team {
  background-color: black;
  padding: 10px 0 30px;
}
.team h1 {
  font-size: 60px;
  font-family: 'Saira Condensed',
  sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 30px 0px;
  margin-bottom: 15px;
}
.team .about {
  color: white;
  font-family: 'Saira',
  sans-serif;
  font-weight: normal;
  padding: 10px 20px 20px 0;
  text-align: left;
}
.team .about h3 {
  font-size: 28px;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  padding-bottom: 6px;
  text-indent: 40px;
  padding-top: 50px;
}
.team .about p {
  font-size: 18px;
  padding-left: 40px;
  line-height: 180%;
}
.team .employee {
  max-width: 1400px;
  margin: 0 auto 20px;
  margin-bottom: 40px;
  min-height: 646px;
}
.team .employee:nth-of-type(odd) {
  background-color: #f9f104;
}
.team .employee:nth-of-type(even) {
  background-color: #29a6dc;
}
.photo{
  width: 400px;
  transform: rotate(-45deg);
  overflow: hidden;
}
.photo > img{
  margin-top: 10px;
  margin-left: -3px;
  display: block;
  max-width: 100%;
  transform: rotate(45deg);
}
.photo,
.about {
  width: 30%;
  float: left;
}
.about {
  width: 70%;
  float: left;
}
.team .employee:nth-of-type(even) .photo {
  float: right;
  transform: rotate(45deg);
}
.team .employee:nth-of-type(even) .photo > img{
  transform: rotate(-45deg);
  float: right;
}
.team .employee:nth-of-type(even) .about {
  padding-right: 0;
}
.team .employee:nth-of-type(even) .about p {
  padding-right: 20px;
}
.team .employee:nth-of-type(odd) .about {
  color: black;
}
.team .employee:nth-of-type(even) .about h3 {
  text-indent: 0;
  margin-left: 40px;
}
.team .employee:nth-of-type(odd) .about h3 {
border-color: #000;
}

/* sekcja contact */
.contact {
  background-color: #000;
  padding: 30px 20px;
  width: 1400px;
  margin: 0 auto;
}
.contact .contactform{
  display: inline-block;
  width: 50%;
}
.contact h1{
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 30px;
}
.contact label{
  font-family: 'Saira Condensed', sans-serif;
  display: inline-block;
  font-size: 20px;
  width: 70px;
  color: white;
  vertical-align: top;
}

.contact input,
.contact textarea {
  width: 70%;
  margin-bottom: 25px;
  font-family: saira, sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact input {
  height: 36px;
}

.contact textarea {
  height: 120px
}

.contact .contactdetails{
  display: inline-block;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  color: white;
  vertical-align: top;  
}
/* footer */
footer .slider{
  width: 1400px;
  margin: 20px auto;
  display: grid;
  grid-auto-flow: column;
}
footer .slider .logo{
margin: 10px;
}
footer p{
  text-align: right;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  padding-right: 20px;
}
.to-top{
  background: #ffffff;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active{
  opacity: 1;
  pointer-events: auto;
}