<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="{{ url_for('static', filename='/favicon/site.webmanifest') }}">
  <link rel="mask-icon"href="{{ url_for('static', filename='/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#000000">
  
  <!-- Bootstrap CSS-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>ProBud</title>
</head>
<body>
  <!-- Newsletter -->
  <div class="newsletter-popup" id="newsletterPopup">
    <button class="x" onclick="closeNewsletterPopup()">x</button>
    <h2>Dołącz do naszego newslettera!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, saepe aut sed ea illum numquam mollitia quasi iure sit nulla porro adipisci consectetur quis? Blanditiis natus fuga ad ipsum laboriosam.</p>
    <form method="POST" action="/">
      {{ newsform.csrf_token}}
      {{ newsform.email(size=30) }}
    <button onclick="closeNewsletterPopup()">Zapisz się</button>
    </form>
  </div>
  <!-- Navbar -->
  <nav class="navbar">
    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo">
    <h1>ProBud</h1>
    <p>Budujemy od Pokoleń</p>
    <div class="menu">
      <ul class="hamburgerNav">
        <li>
          <a href="#about">Co robimy</a>
        </li>
        <li>
          <a href="#portfolio">Nasze Projekty</a>
        </li>
        <li>
          <a href="#team">Zespół</a>
        </li>
        <li>
          <a href="#contact">Kontakt</a>
        </li>
      </ul>
      <div class="menu-btn">
        <div class="bar"></div>
      </div>
    </div>
  </nav>  
<div class="wraper">
  <!-- Header -->
  <header>
    <aside>
      <blockquote>“Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis”</em>
      <footer>—<cite>Lorem ipsum</cite></footer>
      </blockquote>
    </aside>
  </header>
  <!-- About -->
  <section id="about">
    <h1>Co robimy</h1>
    <div class="service">
      <div class="front img1">
        <h2>Budowa</h2>
      </div>
      <div class="back img1">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
    <div class="service">
      <div class="front img2">
        <h2>Renowacja</h2>
      </div>
      <div class="back img2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
    <div class="service">
      <div class="front img3">
        <h2>Naprawa</h2>
      </div>
      <div class="back img3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
    <div class="service">
      <div class="front img4">
        <h2>Urządzanie</h2>
      </div>
      <div class="back img4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
    <div class="service">
      <div class="front img5">
        <h2>Projektowanie</h2>
      </div>
      <div class="back img5">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
    <div class="service">
      <div class="front img6">
        <h2>Konsultacje</h2>
      </div>
      <div class="back img6">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis iusto consequatur sit at natus impedit cum debitis 
          perferendis porro hic facilis nostrum vitae mollitia suscipit doloribus, iure tenetur quia.</p>
      </div>
    </div>
  </section>
  <!-- Portfolio -->
  <section id="portfolio" class="portfolio">
    <section class="projects">
      <h1>Nasze Projekty</h1>
      <div class="project">
        <p>Ogródy</p>
      </div>
      <div class="project">
        <p>Garaże</p>
      </div>
      <div class="project">
        <p>Domy</p>
      </div>
      <div class="project">
        <p>Projekt kuchni</p>
      </div>
      <div class="project">
        <p>Altany</p>
      </div>
      <div class="project">
        <p>Łazienki</p>
      </div>
    </section>
  </section>
  <!-- Numbers -->
  <section class="numbers">
    <div class="number">
      <i class="fa-regular fa-building"></i>
      <span class="num" data-val="245">000</span>
      <span class="text">Wybudowanych Domów</span>
    </div>
    <div class="number">
      <i class="fa-solid fa-people-group"></i>
      <span class="num" data-val="65">000</span>
      <span class="text">Nasz zespół</span>
    </div>
    <div class="number">
      <i class="fa-regular fa-map"></i>
      <span class="num" data-val="114">000</span>
      <span class="text">Wykonanych Projektów</span>
    </div>
    <div class="number">
      <i class="fa-regular fa-face-smile"></i>
      <span class="num" data-val="271">000</span>
      <span class="text">Zadowolonych Klientów</span>
    </div>
  </section>
  <!-- Team -->
  <section id="team">
    <h1>Nasz zespół</h1>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team1.jpg')}}" alt="team1"></div>
      <div class="about">
        <h3>Jan Nowak</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi perspiciatis minima tempora cupiditate vero accusamus tempore, odit deleniti nihil adipisci ab architecto alias explicabo iusto repellat magnam quisquam ea.</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team2.jpg')}}" alt="team2"></div>
      <div class="about">
        <h3>Anna Kowalczyk</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae doloremque omnis assumenda earum fugiat nostrum corporis! Explicabo, vel iusto odit in reprehenderit perferendis, obcaecati fugit temporibus praesentium recusandae aut.</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team3.jpg')}}" alt="team3"></div>
      <div class="about">
        <h3>Piotr Woźniak</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis repellendus placeat iure esse quia quas, quos velit dolorum tempore quo rem voluptas mollitia qui voluptatibus quasi assumenda, minus perspiciatis! Ex?</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team4.jpg')}}" alt="team4"></div>
      <div class="about">
        <h3>Michał Wójcik</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesentium laborum placeat quia autem, deserunt odio, aliquid, laudantium deleniti reiciendis voluptas officiis excepturi inventore cumque tempore eaque. Laboriosam, cum!</p>
      </div>
    </div>
  </section>
  <!-- Opinions -->
  <section class="opinions">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="slide first">
        <div class="opinion">
          <div class="face">
            <img class="avatar" src="{{ url_for('static', filename='img/opinion1.jpg')}}" alt="logo">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
          </div>
          <blockquote>“Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesen tium laborum placeat quia autem, deserunt odio, aliquid.”
            <footer>—<cite>Lorem ipsum</cite></footer>
          </blockquote>
        </div>
      </div>
      <!-- slide -->
      <div class="slide">
        <div class="opinion">
          <div class="face">
            <img class="avatar" src="{{ url_for('static', filename='img/opinion2.jpg')}}" alt="logo">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
          </div>
          <blockquote>“Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesentium laborum placeat quia autem, deserunt odio, aliquid.”
            <footer>—<cite>Lorem ipsum</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="slide">
        <div class="opinion">
          <div class="face">
            <img class="avatar" src="{{ url_for('static', filename='img/opinion3.jpg')}}" alt="logo">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
          </div>
          <blockquote>“Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesentium laborum placeat quia autem, deserunt odio, aliquid.”
            <footer>—<cite>Lorem ipsum</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="slide">
        <div class="opinion">
          <div class="face">
            <img class="avatar" src="{{ url_for('static', filename='img/opinion1.jpg')}}" alt="logo">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
            <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
          </div>
          <blockquote>“Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesentium laborum placeat quia autem, deserunt odio, aliquid.”
            <footer>—<cite>Lorem ipsum</cite></footer>
          </blockquote>
        </div>
      </div>

      <div class="nav-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
    </div>
    <div class="nav-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
  </section>
  <!-- Contact -->
  <section id="contact">
    <h1>Skontaktuj się z nami</h1>
    <form class="contactform" method="post" action="/">
      {{form.csrf_token}}
      {{form.name.label}} {{form.name}} <br>
      {{form.phone.label}} {{form.phone}} <br>
      {{form.email.label}} {{form.email}} <br>
      {{form.text.label}} {{form.text}}<br>
      <input class="submit" type="submit" value="Wyślij">
    </form>
    <div class="contactdetails">
      <ul class="menu">
        <li><i class="fas fa-phone-alt"></i>Telefon:  0 12345679</li>
        <li><i class="far fa-envelope"></i>E-Mail: contact@probud.com</li>
        <li><i class="far fa-clock"></i>Pracujemy: Pon - Sob: 08:00 - 18:00</li>
        <li><i class="fas fa-map-marker-alt"></i></i>Address: ul.warszawsa 1/1 00-000 Warszawa</li>
      </ul>
    </div>
  </section>
</div>
<!-- Footer -->
  <footer>
    <div class="logo-slider">
      <div class="logo"><img src="{{ url_for('static', filename='img/firm1.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm2.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm3.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm4.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm5.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm6.png')}}" alt="logo"></div>
    </div>
    <p>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram-square"></i>
      &copy; ProBud</p>
  </footer>
</div>
<!-- Move icon -->
<a href="#" class="to-top">
  <i class="fas fa-chevron-up"></i>
</a>
<!-- Script -->
   <script src="{{ url_for('static', filename='script/main.js') }}"></script>
   <!-- Bootstrap -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>