<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="{{ url_for('static', filename='/favicon/site.webmanifest') }}">
  <link rel="mask-icon"href="{{ url_for('static', filename='/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#000000">
  
  <!-- Bootstrap CSS-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&amp;subset=latin-ext" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbe61c0818.js" crossorigin="anonymous"></script>
  <title>ProBud</title>
</head>
<body>
  <nav class="navbar">
    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo">
    <h1>ProBud</h1>
    <p>Budujemy od Pokoleń</p>
    <div class="menu">
      <ul class="hamburgerNav">
        <li>
          <a href="#about">Co robimy</a>
        </li>
        <li>
          <a href="#portfolio">Nasze Projekty</a>
        </li>
        <li>
          <a href="#team">Zespół</a>
        </li>
        <li>
          <a href="#contact">Kontakt</a>
        </li>
      </ul>
      <div class="menu-btn">
        <div class="bar"></div>
      </div>
    </div>
  </nav>  
<div class="wraper">
  <header>
    <aside>
      <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
      <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
      <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
      <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
      <img src="{{ url_for('static', filename='img/star.png')}}" alt="star">
      <blockquote>“Jakość usług na najwyższym poziomie, prace wykonane zgodnie z ustalonym terminem, serdecznie polecam”</em>
      <footer>—<cite>Jan Nowak</cite></footer>
      </blockquote>
    </aside>
  </header>
  <section id="about">
    <h1>Co robimy</h1>
    <div class="service">
      <h2>Budowa</h2>
      <p class="description">kompleksowe i profesjonalne wykonanie nowych obiektów, od domów po budynki komercyjne. Nasz doświadczony zespół inżynierów, architektów i rzemieślników gwarantuje najwyższą jakość, terminowość i zgodność z najnowszymi standardami budowlanymi. Dbamy o satysfakcję klienta i realizujemy projekty na najwyższym poziomie.</p>
    </div>
    <div class="service">
      <h2>Renowacja</h2>
      <p class="description">odnowienie i przywrócenie dawnego blasku starym budynkom oraz elementom architektonicznym. Zespół wykwalifikowanych rzemieślników dba o detale, używa najwyższej jakości materiałów i technik renowacyjnych, zapewniając trwałość i estetykę. Oferujemy kompleksowe rozwiązania, dostosowane do indywidualnych potrzeb klientów.</p>
    </div>
    <div class="service">
      <h2>Naprawa</h2>
      <p class="description">szybkie, profesjonalne i skuteczne rozwiązanie wszelkich problemów związanych z konstrukcją, wykończeniem czy instalacjami. Doświadczony zespół specjalistów zapewnia fachową diagnozę i natychmiastową naprawę, przywracając pełną funkcjonalność i bezpieczeństwo budynkom oraz infrastrukturze. Satysfakcja klienta jest naszym priorytetem.</p>
    </div>
    <div class="service">
      <h2>Urządzanie</h2>
      <p class="description">kompleksowe projektowanie i aranżacja wnętrz, dopasowana do preferencji klientów. Nasi doświadczeni dekoratorzy wnętrz dbają o estetykę, funkcjonalność i wykorzystanie najnowszych trendów, tworząc unikatowe i harmonijne przestrzenie. Oferujemy kreatywne rozwiązania, zapewniające komfort i elegancję w każdym projekcie.</p>
    </div>
    <div class="service">
      <h2>Projektowanie</h2>
      <p class="description">tworzenie innowacyjnych i funkcjonalnych koncepcji budynków i infrastruktury. Nasi wykwalifikowani architekci i inżynierowie zapewniają spersonalizowane rozwiązania, zgodne z wymaganiami klientów i przepisami. Nasze projekty łączą estetykę z wydajnością, przyczyniając się do sukcesu każdego przedsięwzięcia.</p>
    </div>
    <div class="service">
      <h2>Konultacja</h2>
      <p class="description">fachowa i indywidualna pomoc w planowaniu projektów budowlanych. Nasi eksperci oferują wsparcie w doborze odpowiednich rozwiązań, budżetowaniu i analizie technicznej. Zapewniamy kompleksową wiedzę i doradztwo, aby pomóc klientom osiągnąć ich cele budowlane w sposób efektywny i zgodny z przepisami.</p>
    </div>
  </section>
  <section id="portfolio" class="portfolio">
    <section class="projects">
      <h1>Nasze Projekty</h1>
      <div class="project">
        <p>Ogródy</p>
      </div>
      <div class="project">
        <p>Garaże</p>
      </div>
      <div class="project">
        <p>Domy</p>
      </div>
      <div class="project">
        <p>Projekt kuchni</p>
      </div>
      <div class="project">
        <p>Altany</p>
      </div>
      <div class="project">
        <p>Łazienki</p>
      </div>
    </section>
  </section>
  <section id="team">
    <h1>Nasz zespół</h1>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team1.jpg')}}" alt="team1"></div>
      <div class="about">
        <h3>Jan Nowak</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi perspiciatis minima tempora cupiditate vero accusamus tempore, odit deleniti nihil adipisci ab architecto alias explicabo iusto repellat magnam quisquam ea.</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team2.jpg')}}" alt="team2"></div>
      <div class="about">
        <h3>Anna Kowalczyk</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae doloremque omnis assumenda earum fugiat nostrum corporis! Explicabo, vel iusto odit in reprehenderit perferendis, obcaecati fugit temporibus praesentium recusandae aut.</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team3.jpg')}}" alt="team3"></div>
      <div class="about">
        <h3>Piotr Woźniak</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis repellendus placeat iure esse quia quas, quos velit dolorum tempore quo rem voluptas mollitia qui voluptatibus quasi assumenda, minus perspiciatis! Ex?</p>
      </div>
    </div>
    <div class="employee">
      <div class="photo"><img src="{{ url_for('static', filename='img/team4.jpg')}}" alt="team4"></div>
      <div class="about">
        <h3>Michał Wójcik</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non praesentium laborum placeat quia autem, deserunt odio, aliquid, laudantium deleniti reiciendis voluptas officiis excepturi inventore cumque tempore eaque. Laboriosam, cum!</p>
      </div>
    </div>
  </section>
  <section id="contact">
    <h1>Skontaktuj się z nami</h1>
    <form class="contactform" method="post" action="/">
      {{form.csrf_token}}
      {{form.name.label}} {{form.name}} <br>
      {{form.phone.label}} {{form.phone}} <br>
      {{form.email.label}} {{form.email}} <br>
      {{form.text.label}} {{form.text}}<br>
      <input class="submit" type="submit" value="Wyślij">
    </form>
    {{ js_script|safe }}
    <div class="contactdetails">
      <ul class="menu">
        <li><i class="fas fa-phone-alt"></i>Telefon: 00000000</li>
        <li><i class="fas fa-at"></i>E-Mail: contact@probud.com</li>
        <li><i class="fab fa-facebook-f"></i>FaceBook: Probud</li>
        <li><i class="fas fa-map-pin"></i>Address: ul.warszawsa 1/1 00-000 Warszawa</li>
      </ul>
    </div>
  </section>
</div>
  <footer>
    <div class="slider">
      <div class="logo"><img src="{{ url_for('static', filename='img/firm1.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm2.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm3.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm4.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm5.png')}}" alt="logo"></div>
      <div class="logo"><img src="{{ url_for('static', filename='img/firm6.png')}}" alt="logo"></div>

    </div>
    <p>&copy; ProBud</p>
  </footer>
</div>
<a href="#" class="to-top">
  <i class="fas fa-chevron-up"></i>

</a>
   <script src="{{ url_for('static', filename='script/main.js') }}"></script>
   <!-- Bootstrap -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>