<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Newsletter</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ten adres zostanie usnięty:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="idDeleteModalBody">
                ...
                </div>
                <div class="modal-footer">
                    <form action="" method="GET" id="confirmDeleteForm">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.delete-confirm').click(function (){
            var desc = $(this).attr('data-desc');
            var url = $(this).attr('data-url');
            $('#idDeleteModalBody').text(desc);
            $('#confirmDeleteForm').attr('action', url);
        });
    });
    </script>   

    <h1>Newsletter</h1>
    <div class='container'>

        <div class="d-flex justify-content-end align-items-center">
            <p class="me-3">Zalogowany jako: {{ current_user.name if current_user.is_authenticated else 'Gość' }}</p>
            <a href="{{ url_for('logout') }}" class="btn btn-danger" role="button">Wyloguj</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Operacje</th>
                </tr>
            </thead>
            <tbody>
            {% for email in email_addresses %}   
                <tr>
                    <th scope="row">{{ email.id}}</th>
                    <th >{{ email.email}}</th>
                    <td>
                        <a href="#" class='btn btn-primary btn-sm' role="button">Edytuj</a>
                        <a type="button" class="btn btn-danger btn-sm delete-confirm" data-bs-toggle="modal" 
                        data-bs-target="#confirmDeleteModal" 
                        data-desc="{{ 'Usunąć adres: {}?'.format(email.email)}}"
                     data-url="{{ url_for('remove_email', email_addresses_id=email.id)}}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>